<link rel="stylesheet" href="/css/view.css">
<h1>Form Received</h1>  

<form action="/admin/search-membership" method="GET">
    <input type="text" name="name" placeholder="Search by name">
    <button type="submit">Search</button>
</form> 
<a href="/admin/membership">All Members</a>

<ul class="membership-list">
    <% membershipSubmissions.forEach(submission => { %>
        <li>
            <strong>Name:</strong> <%= submission.fullname %><br>
            <strong>Email:</strong> <%= submission.email %><br> 
            <strong>Date Received:</strong> <%= submission.date_sent.toDateString() %><br> 
            <a href="/admin/view-membership/<%= submission.id %>" target="_blank">View Form</a>
            <a href="/admin/download-membership/<%= submission.id %>">Download Form</a>
            <form class="delete-form" action="/admin/delete-membership" method="POST">
                <input type="hidden" name="submissionId" value="<%= submission.id %>">
                <input type="hidden" name="confirmDelete" value="false"> 
                <button type="submit" class="delete-btn">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>
<script>
    document.querySelectorAll('.delete-form').forEach(form => {
        form.addEventListener('submit', function(event) {
            const confirmDelete = confirm('Are you sure you want to delete?');
            if (!confirmDelete) {
                event.preventDefault();
            } else {
                // confirmDelete before submission
                form.querySelector('input[name="confirmDelete"]').value = 'true';
            }
        });
    });
</script>
